<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            padding: 15px;
        }

        hr {
            border-top: 1px solid rgb(0 0 0 / 78%) !important;
        }

        .subtitle {
            font-weight: 400;
            font-size: 50%;
            color: grey;
        }

        .seperator {
            position: relative;
            display: block;
            margin: 20px 0;
            border-bottom: 1px solid grey;
            width: 450px;
        }

        .success {
            color: green;
        }

        .success {
            color: green;
        }

        .failure {
            color: red;
        }

        .notice-start-header {
            background: #383838;
            display: inline-block;
            color: white;
            padding: 13px 12px;
        }

        .my-container {
            display: inline-block;
            position: absolute;
            max-width: 735px;
            left: 50%;
            transform: translateX(-50%);
        }

        .test-file-header {
            border: 2px solid #50b761;
            padding: 8px 16px 11px 16px;
        }

        .tests-output {
        }

        #test-count {
            position: absolute;
            top: 10px;
            left: 10px;
            font-weight: bold;
            color: #17b217;
            font-size: 26px;
        }

        #runners {
            font-weight: bold;
            color: red;
            font-size: 26px;
        }
    </style>
<body>
<div id="test-count">
    <%- test_count + "tests run" %>
    <div id="runners">
        <%- "From " + runners + " unique names" %>
    </div>

</div>
<div class="my-container">
    <div>
        <div class="notice-start-header">
            <p>Notice! <br><br>
                This website was not officially made by the Matam course, so take the tests here with a grain of
                salt.</p>
            Also, make sure you know how to create tests alone, and generally handle the running setup required by the
            exercise,<br>
            it will probably be more important in later assignments / might show up in the test.
            <br><br>
            Good luck!
        </div>
    </div>
    <br><br>
    <h3><a href="/ex01">Exercise 1 tests (C)</a></h3>
    <h3><a href="/ex02">Exercise 2 tests (Python)</a></h3>
</div>
</body>
</html>