<html>
<head>
</head>

<body>
<form action="/" method="post" enctype="multipart/form-data">
<input type="file" name="projectFiles" value="Project Files" multiple>
<br>
<input type="submit" value="Upload">
</form>
</body>

</html>
