<html>
<head>
</head>

<body>
<div>
    <%- error.replace(/\n/g, "<br>") %>
    <%- error ? "<br></br></br>" : "" %>
</div>
<form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="projectFiles" value="Project Files" multiple>
    <select name="testType">
        <option value="pq">Priority Queue</option>
        <option value="em"></option>
    </select>
    <br>
    <input type="submit" value="Upload">
</form>
</body>

</html>
